__pycache__/

# Obsolete
*backup*

AXI/
benchmarks/
LoRA/
OpenAI/
paragraph_to_description/
sentence_to_SVA/

grammer_1/
property_gen/
smt/
util/

grammar/*.py

cases_for_Annie/
nlprop_to_llmprop/
waveform_to_nlprop/

# test
waveform_to_nlprop/Q-Channel_backup/
waveform_to_nlprop/test/
waveform_to_nlprop/test_instr/
waveform_to_nlprop/test_nl/
waveform_to_nlprop/test_tb/
waveform_to_nlprop/test_template_tb/

z3_test/
smt/properties_test.json
smt/non_tautologies.json

# Backup
smt/smtchecker_1.py
grammar.backup/
templates.backup/
LLM_filtering.backup/
waveforms.backup/

LLM_filtering-majority/
LLM_filtering/PCI/termination_reasoning/
LLM_filtering/PCI/termination_100/
LLM_filtering/PCI/termination_backup/
LLM_filtering/PCI/termination_reasoning_backup/
LLM_filtering/PCI/termination/description.txt.backup

LLM_filtering/run_batch.py
LLM_filtering/get_batch.py
LLM_filtering/check_batch.py

# Overriding ignore rules
!waveforms/AXI/
!cases_for_Annie/*/AXI/
!LLM_filtering/AXI/